/**
 * Embed
 */
.embed {
    padding: 1em;
    margin: 1em 0;
    text-align: center;
    background-color: #f0f0f0;
}

.embed > iframe {
    width: 100%;
    vertical-align: top;
}

.embed--vimeo,
.embed--youtube,
.embed--mixcloud,
.embed--soundcloud {
    padding: 0;
}

.embed--vimeo,
.embed--youtube {
    position: relative;
}

.embed--vimeo > iframe,
.embed--youtube > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
