/**
 * Embed
 */
.Embed {
    padding: 1em;
    margin: 1em 0;
    text-align: center;
    background-color: #f0f0f0;
}

.Embed > iframe {
    width: 100%;
    vertical-align: top;
}

.Embed--vimeo,
.Embed--youtube,
.Embed--mixcloud,
.Embed--soundcloud {
    padding: 0;
}

.Embed--vimeo,
.Embed--youtube {
    position: relative;
}

.Embed--vimeo > iframe,
.Embed--youtube > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}